spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/main_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    org.example.user: DEBUG
    org.hibernate.SQL: DEBUG