spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/main_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password

server:
  port: 8082

logging:
  level:
    org.example.orderservice: DEBUG
    org.hibernate.SQL: DEBUG
