spring:
  application:
    name: analytics-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: analytics-db
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password

server:
  port: 8086

logging:
  level:
    org.example.analytics: DEBUG
